@import '../common';

$iconSize: 22px;

.leftIcon {
    margin: 0 4px 0 3px;
    color: $B10;

    & > svg {
        display: block;
        width: $iconSize;
        height: $iconSize;
    }
}

.expandableStyles {
  > div {
    > div {
      > div {
        transition: all .3s;
      }
    }
  }
}

.collapsed {
  cursor: pointer;

  > div {
    > div {
      > div {
        border-color: transparent;
        width: 14 + $iconSize;

        input {
          min-width: 0 !important;
        }
      }
    }
  }
}

.expanded {
  > div {
    > div {
      > div {
        width: 100%;
      }
    }
  }
}
